<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart</title>
</head>
<body>
    <p>HARSHITHA GOKANAKONDA</p>
    <P>ID:1001949798</P>
    <h1>Pie Chart</h1>
    <form method="POST">
        <label for="letter">Letter:</label>
        <input type="text" name="letter" required>
        <label for="amount">Amount:</label>
        <input type="number" name="amount"   required>
        <button type="button" onclick="addInput()">Add</button>
        <br><br>
        <input type="submit" value="Generate Pie Chart">
    </form>

    <h2>Horizontal Bar Chart</h2>
    

    <script>
        function addInput() {
            var container = document.getElementsByTagName("form")[0];
            var label = document.createElement("label");
            label.innerHTML = "Letter:";
            var input = document.createElement("input");
            input.type = "text";
            input.name = "letter";
            input.required = true;
            container.appendChild(label);
            container.appendChild(input);

            label = document.createElement("label");
            label.innerHTML = "Amount:";
            input = document.createElement("input");
            input.type = "number";
            input.name = "amount";
            input.required = true;
            container.appendChild(label);
            container.appendChild(input);

            container.appendChild(document.createElement("br"));
            container.appendChild(document.createElement("br"));
        }
    </script>

    {% if pie_chart %}
    <div class="pie-chart">
        <h2>Pie Chart Image</h2>
        <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">
    </div>
    {% endif %}
</body>
</html>






     
